<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @networth.value %>
</p>

<p>
  <strong>Date:</strong>
  <%= @networth.date %>
</p>

<%= link_to 'Edit', edit_networth_path(@networth) %> |
<%= link_to 'Back', networths_path %>
